
html, body {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: 'Normal';
    src: url('assets/font/segoeui.ttf');
}
@font-face {
    font-family: 'Normal';
    src: url('assets/font/segoeuisl.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Normal';
    src: url('assets/font/segoeuil.ttf');
    font-weight: 300;
}

* {
    overflow: hidden;
    user-select: none;
}

#lockscreen-text {
    color: #fff;
    font-family: 'Segoe UI Semilight';
    font-size: 60px;
}

.fullscreen {
    height: 100vh;
    min-height: 100%;
    width: 100vw;
}

.lockscreen {
    position: relative;
    bottom: 0;
    z-index: 100;

    opacity: 1;
}

.no-transition {
    transition: none;
}

.lockscreen-animate {
    transition: bottom 500ms, opacity 200ms;
}

#lockscreen-image {
    background-size: cover;
    min-height: 100%;
    background-image: url('assets/lockscreen.jpg');
}


#lockscreen-text {
    position:absolute;
    bottom: 100px;
    left: 30px;
    user-select: none;
}

#change-background {
    border-radius: 0;
    background-color: rgba(230, 5, 5, 0);
    border: none;

    min-width: 35px;
    min-height: 40px;

    transition-property: background;
    transition-duration: 150ms;

    position: absolute;
    /* top: 94vh;
    left: 3vh; */
    right: 12px;
    bottom: 12px;

}

#change-background:hover {
    background:rgba(255, 255, 255, 0.329);
}

#change-background-icon {
    transform: translateY(1px);
}

#background {
    transform: scale(1.05); 

    transition-property: filter, transform;
    transition-duration: 1s, 800ms;

    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;

}

.login-screen {
    position:absolute;
    z-index: 0;
    top: 0;
    pointer-events: none
}

#login-container {
    opacity: 0;
    font-family: 'Normal';
    font-weight: 400;
    font-size: 60px;
    
    position:absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);

    transition-delay: 200ms;
    transition-property: opacity;
    transition-duration: 800ms;
}

#user-icon {

    padding-top: 20px;
    scale: 1.5;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-bottom: 70px;

}

.translate-icon {
    transform: translate(-100%,-100%);
}
#username-container {
    height: 34px;
}

#password-container, #username-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#submit-login {
    pointer-events: all;

    z-index: 100;
	width: 34px;
	height: 34px;
	margin-left: -36px;
	background: #555;

    border-color: rgb(104, 104, 104);
    border-width: 2px;
    border-left-width: 0;
    border-style: solid;
}

#submit-login:hover {
    border-color: rgb(214, 214, 214);
    /* background: rgba(7, 7, 7, 0.37); */
}
#submit-login:active {
    /* border-color: rgb(214, 214, 214); */
    background: rgb(161, 161, 161);
    /* background: rgba(7, 7, 7, 0.37); */
}

.forceHover {
    border-color: rgb(214, 214, 214) !important;
    /* background: rgba(7, 7, 7, 0.37) !important; */
}


input {
    pointer-events: all;
    
    font-size: 16px;
    font-family: 'Normal';
    font-weight: 400;
    
    padding-left: 7px;
    padding-bottom: 2px;
    
    color: rgb(168, 168, 168);
    
    width: 270px;
    background-color: rgba(36, 36, 36, 0.37);
    border-radius: 0;
    border-color: rgb(104, 104, 104);
    border-width: 2px;
    border-style: solid;

    transition-property: backgroundColor, borderColor, color;
    transition-duration: 100ms;
}

input:hover {
    border-color: rgb(214, 214, 214);
    background-color: rgba(7, 7, 7, 0.37);
}

input:focus {
    outline: none;
    color: rgb(49, 49, 49);
    background-color: #fff;
    border-color: rgb(214, 214, 214);
}

